* {
    margin: 0;
    padding: 0;
}

#indexBody {
    --mainColor: #a0845d;
    --secondColor: #EAE7DC;
    --highlightColor: #074006;
}

.greenText {
    color: var(--highlightColor);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}

.brownText {
    color: var(--mainColor);
    font-family: 'Courier New', Courier, monospace;
}

.label {
    position: absolute;
    top: 40%;
    left: 50%;
    translate: -50% -50%;

}

/*header*/
#header {
    background-size: auto;
    width: 100vw;
    height: 10vh;
    background-color: var(--secondColor);
    position: fixed;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px var(--mainColor);
    z-index: 2;
}

#header nav {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    height: 100%;
    width: 90%;
}

#header nav ul li {
    list-style: none;
    display: inline-block;
}

#header nav ul li a {
    color: var(--mainColor);
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    padding: 20px;
    transition-duration: .5s;

}

#header nav ul li :hover {
    color: var(--highlightColor);
    transition-duration: .5s;
}



/*Front Page*/

#landing {
    background-color: var(--secondColor);
    height: 100vh;
    display: flex;
    flex-direction: row;

}

#landing .splitDiv {
    flex: 1;
    height: 100%;
    width: 50%;
    margin-top: 100px;
    position: relative;
}

/*Sliding Div with Resume*/
#slidingDiv {
    z-index: 1;
    height: 80vh;
    width: 50vw;
    background-color: #D8C3A5;
    translate: -50vw;
    transition-duration: .5s;
    position: absolute;

}

#resumeTab {
    background-color: #D8C3A5;
    height: 200px;
    width: 55px;
    float: right;
    align-content: center;
    border-radius: 11;
    position: fixed;
    left: 99%;
    top: 50%;
    transform: translateY(-50%);
}

#resumeTab h1 {
    rotate: 90deg;
    margin-top: 65px;
    color: #074006;
}

#resumeImage {
    max-width: 45%;

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    border: #a0845d solid 5px;

}

#resumeImage:hover {
    transition: 0.5s;
    max-width: 50%;
}

#slidingDiv:hover {
    transform: translateX(45vw);
    transition-duration: .75s;

}

/*Landing Page*/
.splitDiv .greenText {
    font-size: 55pt;
}

.splitDiv .brownText ul li {
    font-size: 20pt;
    list-style: none;
}

#headshot {
    border-bottom: solid var(--highlightColor) 5px;
    width: 100%;
}



.scrollScreen h2 {
    color: white;
    font: 400;
}

.scrollingContainer {
    background-color: var(--secondColor);
    border: var(--highlightColor) 5px solid;
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    align-content: center;
    justify-content: left;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.scrollingContainer.no-transition {
    scroll-behavior: auto;
}

.scrollingContent {
    height: 80%;
    aspect-ratio: 1/1;
    padding: 0 5%;
    margin: auto 0;
    transition: .3s;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
}

.scrollingContent a {
    flex: 1;
    display: flex;
    text-decoration: none;
    color: black;
}


#projectPage {
    background-color: #a0845d;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

#projectTitle {
    color: #EAE7DC;
    font-size: 75px;
    margin-top: 5%;
}

#scrollInterface {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 90%;
}

#projectPage i {
    color: var(--highlightColor);
}


.scrollContentInside {
    background-position: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    transition-duration: 500ms;
    flex: 1;
    background-color: blue;
    border: var(--mainColor) 5px solid;
    padding: 2%;
}

#meLodyTile a .scrollContentInside {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("/pictures/melodyLogo.jpg");
    background-size: 200%;
}

#meLodyTile a:hover .scrollContentInside {
    background-image: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url("/pictures/melodyLogo.jpg");

}

#desktopTile a .scrollContentInside {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("/pictures/desktopLogo.jpeg");
    background-size: 100%;
}

#desktopTile a:hover .scrollContentInside {
    background-image: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url("/pictures/desktopLogo.jpeg");
}

#wordleTile a .scrollContentInside {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("/pictures/wordleLogo.jpeg");
    background-size: 100%;

}

#wordleTile a:hover .scrollContentInside {
    background-image: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url("/pictures/wordleLogo.jpeg");

}

a:hover .scrollContentInside {
    transform: scale(110%);
    transition-duration: 500ms;
}

.scrollContentInside h1 {
    color: rgba(7, 64, 6, 0);
    font-family: 'Impact';
    font-weight: lighter;
    font-size: 75px;
    margin-top: 50%;
    transform: translateY(-50%);
}

a:hover .scrollContentInside h1 {
    color: rgba(7, 64, 6, 1);

}

/*Contact Page*/
#contactPage {
    background-color: #EAE7DC;
    min-height: fit-content;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

#contactTitle {
    color: var(--mainColor);
    font-size: 75px;
    margin-top: 7.5%;
    margin-bottom: 2%;
}

#contactForm {
    border: var(--mainColor) solid 5px;
    width: 50%;
    height: fit-content;
    margin: 0 auto;
    justify-content: center;
}

#contactForm label {
    margin-top: 20px;
    display: block;
    font-size: xx-large;
}

#contactForm input {
    height: 10%;
    width: 80%;
    border: var(--mainColor) solid 2px;
    text-align: center;
    font-size: xx-large;
}

#contactForm textarea {
    height: 10%;
    width: 80%;
    border: var(--mainColor) solid 2px;
    text-align: center;
    font-size: xx-large;
}

#contactSubmit {
    margin: 5% auto;
    padding: 0 5%;
    border: var(--mainColor) solid 2px;
    background-color: #EAE7DC;
    font-size: xx-large;
    width: fit-content;
    height: 50px;
}

/*Project Pages Template*/

.projectOpener {
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    position: relative;
    padding-top: 10vh;

}

.projectTitleDiv {
    width: 100%;
    height: 30vh;
    background-color: var(--mainColor);
    position: relative;

}

.projectTitleText {
    font-family: monospace, monospace;
    font: "Courier New";
    font-size: 25vh;
    margin: 0 auto;
    width: fit-content;
    color: var(--secondColor);
}

.projectHorizontalSection {
    margin: 2.5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;

}

.projectVideo {
    width: 40%;
    aspect-ratio: 16/9;
    border: var(--mainColor) 10px solid;
}

.projectSummary {
    background-color: var(--mainColor);
    border: var(--highlightColor) 10px solid;
    width: 50%;
    
}
.projectSummaryHeading{
    font-size: 2vw;
    padding-left: 1vw;
    color: var(--highlightColor);
    padding-top: 1vw;

}
.projectSummary p{
    font-size: .9vw;
    padding: 0 1vw 1vw  1vw;
    color: var(--highlightColor);
}
.projectSummary ul{
    list-style: inside;
    font-size: 1vw;
    padding: 0 1vw 1vw  1vw;
    color:  var(--highlightColor)
}


.sectionThird {
    width: 30%;
    background-color: var(--secondColor);
    border: var(--mainColor) 10px solid;
    
}

.sectionThird h1{
    font-size: 2.5vw;
    padding:1vw;
    color:  var(--mainColor);
    
}
.sectionThird a{
    text-decoration: none;
    color: inherit;
}
.sectionThird ul{
    list-style: inside;
    font-size: 2vw;
    padding: 0 1vw 1vw  1vw;
    color:  var(--mainColor)
}

.projectGithubLink{
    text-align: center;
}
.fa-github{
    font-size: 20vw;
    color: var(--mainColor);
    margin-top: 5%;
    

}


/*ME-LODY PAGE*/
#melodyBody {
    --mainColor: #292862;
    --secondColor: rgb(204, 197, 244);
    --highlightColor: white;
}
/*WordleRemake PAGE*/
#wordleBody {
    --mainColor: #555555;
    --secondColor: #63B06C;
    --highlightColor: #D1CB5E;
}



@media (width<700px) {

    #header nav ul {
        flex-direction: column;
        display: flex;
    }

    #landing {
        display: flex;
        flex-direction: column-reverse;

    }

    #landing .splitDiv {
        flex: 1;
        height: 50%;
        width: 100%;
    }

    .label {

        margin: auto 0;
        text-align: center;
        width: 80%;


    }

    .splitDiv .greenText {
        font-size: 40pt;
        margin-bottom: 20px;

    }

    #slidingDiv {
        height: 50vh;
        width: 80vw;
        translate: -80vw;
        top: -90%;
    }

    #slidingDiv:hover {
        transform: translateX(80vw);
        transition-duration: .75s;

    }

    .scrollingContent {
        width: 80%;
        height: calc(100vw *.8*.8);
    }

    #projectTitle {
        position: relative;
        top: 7.5%;
    }

    #contactTitle {
        position: relative;
        top: 7.5%;
    }

    #contactForm {
        border: #a0845d solid 5px;
        width: 80%;
        height: fit-content;
        top: 20%;
        position: relative;

    }
    .projectTitleText {
        font-size: 25vw;
        padding-top: 15%;
    }
    .projectHorizontalSection {
            margin: 2.5% 0;
            flex-direction:column;
            width: 100%;
            height: 100vh;
        
    }
    .projectVideo {
        width: 90%;
        margin: 0 auto;

    }
    .projectSummary {
        width: 90%;
        flex: 1;
        margin: 5% auto;
        
    }
    .sectionThird {
        width: 90%;
        height: 50%;
        margin: 2.5% auto;

    }
}