*{
    margin: 0;
    padding: 0;
}

/*header*/
#header{
    background-size: auto;
    width:100vw;
    height: 10vh;
    background-color: #EAE7DC;
    position: fixed;
    display:flex;
    flex-direction: row;
    border-bottom: solid 1px #D8C3A5;
}
#header img{

}
#header nav{
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    height: 100%;
    width: 90%;
}
#header nav ul{
}
#header nav ul li{
    list-style: none;
    display: inline-block;
}
#header nav ul li a{
    color: #D8C3A5;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    padding:20px;
    transition-duration: .5s;

}
#header nav ul li :hover{
    color: #074006;
    transition-duration: .5s ;
}



/*Front Page*/

#landing{
    background-color: #EAE7DC;
    background-size: cover;
    height:100vh;
    display: flex;
    flex-direction: row;

}

#landing .splitDiv{
    flex:1;
    height: 100%;
    width: 50%;
    margin-top: 100px;
}
#slidingDiv{
    height: 80vh;
    width: 50vw;
    background-color: #D8C3A5;
    margin-top: 10vh;
    /*translate: -50vw;*/
    transition-duration: .5s;

}
#slidingDiv{
    background-color: #D8C3A5;
}
#resumeTab{
    background-color: #D8C3A5;
    height: 200px;
    width: 55px;
    float:right;
    translate: 45px -50%;
    margin-top: 50%;
    align-content: center;
    border-radius: 11px;
}
#resumeTab h1{
    rotate: 90deg;
    margin-top: 65px;
    color: #074006;
}


#slidingDiv:hover{
    /*transform: translateX(45vw);*/
    transition-duration: .75s;

}
